.Contacto {
    max-width: 400px;
    background: #fc2;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    font-family: montserrat;
    box-sizing: border-box;
    box-shadow: 1px 0 10px 0 #0009;


}

.form_div {
    padding: 10px;
}

.contacto_input {
    width: 100%;
    margin: 0;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 1px 0 10px 0 #0009;
}

.input_submit {

    letter-spacing: 3px;
    background: rgb(255, 218, 43);
    color: black;
    margin: 0;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 1px 0 10px 0 #0009;

}

.contacto_p {
    margin: 0;

    font-size: 0.8em;
}

.form_submit {
    text-align: center;
}