p {
    color: blue;
    font-family: montserrat;
    font-size: 7px;
    font-weight: 700;

}

a {
    text-decoration: none;
}

.titulo {
    color: rgb(227, 148, 0);
    font-family: Montserrat;
    font-weight: 900;
    text-align: center;

}

.nav_titulo {
    background: brown;
}

.nav_menu {
    background: rgb(255, 125, 36)
}

.img_logo {
    width: 50px;
    height: 50px;
}


.Contacto {
    background: rgb(255, 227, 250);
    border-radius: 20px;
    padding: 10px;
    margin: 40px;
    width: 40%;
    height: 40%;
}

.contacto_input {
    width: 90%;
    height: 70%;
}